.button {
  border: 2px solid #FFFFF;
  background-color: solid green;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  right: 50%;
}

input[type=text] {
    width: 20%;
    padding: 12px 20px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 2px solid solid green;
    border-radius: 4px;
}